params {
  container = 'ensignprojects/ubuntu-curl:latest'
  input = 'Hello, World!'
}

docker.enabled = true

process {
    withLabel: hello_world {
        container = params.container
        containerOptions = '-v /etc/ssl:/etc/ssl -v /usr/local/share/ca-certificates:/usr/local/share/ca-certificates'
    }
}

profiles {
  standard { includeConfig 'conf/aws.config' }
  test  { includeConfig 'conf/test.config' }
  local { includeConfig 'conf/local.config' }
}
